*
html {
  font-family: Verdana sans-serif;
}

body {
  margin: 0;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo span {
  color: MediumAquamarine;
  padding-left: 15px;
}

nav {
  display: inline-flex;
  justify-content: flex-end;
  padding-right: 30px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

a {
  color: black;
}

div {
  display: block;

}

p {
  display: block;
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Georgia;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
}

.content {
  display: flex;
  padding-top: 116px;
  width: 1232px;
  margin: 0 auto 78px auto;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;

}

.column.large {
  width: 630px;
  padding-right: 32px;

}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.lead-story .image-content {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  margin-top: 0;
  font-size: 40px;
  text-align: left;
  width: 630px;
}

.hipster {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}

.fall-season {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}

.cat {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}

.image-content {
  display: flex;
  flex-direction: column;
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
  justify-content: center;
}

.stories {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.narrative {
  margin-top: 16px;
}

.bite {
  font-size: 12px;
  font-family: Verdana;
  background-color: WhiteSmoke;
  color: DimGray;
  padding: 11px 20px;
  border-bottom: 1px solid black;
  display: block;
  font-weight: normal;
  text-align: left;
}

.news-bites {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 41px;
  text-align: center;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 325px;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: Verdana;
  font-size: 12px;
}

footer .title {
  display: inline-block;
  padding-right: 25px;
  border-right: 2px solid white;
  font-family: Georgia;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

footer .nav {
  display: inline-block;
  padding-left: 25px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}
